.loader {
    /*свг и/или анимация*/
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: conic-gradient(from 90deg at 50% 50%, rgba(255, 255, 255, 0) 0deg, #512DE4 360deg);
    display: flex;
    justify-content: center;
    align-items: center;

}
.loader:hover {
    transform: rotate(360deg);
    transition: 1.5s all;
}
.loader_inside {

    width: 80px;
    height: 80px;
    border-radius: 100%;
    background-color: #FFFFFF;
}